* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #23272a;
}

.container {
    width: 70%;
    max-width: 1140px;
    margin: auto;
}

.d-flex {
    display: flex;
}

/* /common rules */
#app-nav {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: fixed center;
    display: flex;
}

#app-bot-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    background-position: center;
}

#safe-talk {
    display: flex;
    background-color: white;
    padding: 2rem 0;
}

#easy-meetings {
    display: flex;
    background-color: #f6f6f6;
    padding: 2rem 0;
}

#fandom {
    display: flex;
    background-color: white;
    padding: 2rem 0;
}

#trust {
    display: flex;
    background-color: #f6f6f6;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

#app-top-footer {
    display: flex;
    background-color: #23272a;
}

#app-bot-footer {
    display: flex;
    background-color: #23272a;
}

.bd {
    border: 2px dashed rgb(255, 0, 0);
}

/* #nav*/

.flex-nav {
    display: flex;
    margin: 0.7rem auto;
    width: 70%;
}

.logo {
    width: 80px;
    display: flex;
    flex-grow: 1;
    justify-content: left;
    align-items: center;
}

.nav {
    flex-wrap: wrap;
    display: flex;
    flex-grow: 5;
    justify-content: center;
    align-items: center;
}

.menu-ul li {
    font-size: 13px;
    padding: 0 1rem;
    list-style: none;
    color: white;
}

.login-section {
    padding: 0.5rem;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}

.login {
    background-color: white;
    color: #3161e0;
    padding: 0.5rem;
    border-radius: 15px;
    font-size: 10px;
}

/* end#nav */

/* app-bot-header */

.header-container {
    color: white;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 2rem auto;
}

.header-container h1 {
    margin: 2rem;
}

.header-container p {
    margin: 2rem 20%;
}

.button-mac {
    margin: 0 1rem;
    color: black;
    background-color: white;
    padding: 0.5rem;
    border-radius: 50px;
    border: 0px;
}

.button-browser {
    margin: 0 1rem;
    color: white;
    background-color: #23272a;
    padding: 0.5rem;
    border-radius: 50px;
    border: 0px;
}

.buttons {
    padding-bottom: 5rem;
}

/* #end-app-bot-header */

/* main section */

.main-content {
    justify-content: center;
    display: flex;
    width: 70%;
    margin: 2rem auto;
}

.article {
    flex-direction: column;
    display: flex;
    width: 25%;
}

.article p {
    font-size: 1rem;
}

.article h1 {
    padding: 2rem 0;
    font-weight: 700;
    font-size: 2rem;
}


.tecnology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.tecnology h1 {
    padding: 1rem 0;
}

.tecnology h2 {
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
    padding: 1rem;
}

.button-disabled {
    width: 20%;
    margin: 2rem 1rem;
    color: white;
    background-color: #8ea1e1;
    padding: 0.7rem;
    border-radius: 50px;
    border: 0px;
    margin: auto;
}

/* #end main-section */

/* footer */

.flex-footer-container {
    display: flex;
    background-color: rgb(37, 47, 184);
    width: 70%;
    margin: 2rem auto;
    justify-content: space-around;
}

.main-column {
    padding: 0.4rem;
    color: white;
    width: 30%;
    background-color: #23272a;
}

.fa {
    padding: 0.2rem;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.leng {
    padding: 0.7rem 0;
}

.main-column h2 {
    color: #667ac1;
}

.column {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #23272a;
}

.column h4 {
    padding: 1rem 0;
    color: #667ac1;
}

.column a {
    color: white;
    text-decoration: none;
    padding: 0.6rem 0;
}


.flex-footer {
    display: flex;
    width: 70%;
    margin: 2rem auto;
    padding: 3rem 0;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #667ac1;
}

.register {
    color: white;
    background-color: #8ea1e1;
    padding: 0.7rem;
    border-radius: 50px;
    border: 0px;
    margin: auto;
}

/* #end footer */